@{
    ViewData["Title"] = "Student Supplies";

}
<section class="studentSupplies" id="equipment">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h2>Student Supplies</h2>
                </div>
            </div>
            
            @*<div class="categories">
            <h4>Meeting Catgories</h4>
            <ul>
            <li><a href="#">Sed tempus enim leo</a></li>
            <li><a href="#">Aenean molestie quis</a></li>
            <li><a href="#">Cras et metus vestibulum</a></li>
            <li><a href="#">Nam et condimentum</a></li>
            <li><a href="#">Phasellus nec sapien</a></li>
            </ul>
            <div class="main-button-red">
            <a href="meetings.html">All Upcoming Meetings</a>
            </div>
            </div>
          

            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href=@Url.Action("Gryffindor", "Home")><img src="~/assets/images/houses/gryffindor.jpg" alt="Gryffindor"></a>
                            </div>
                            @*<div class="down-content">
                            <a href="meeting-details.html"><h4>Gryffindor</h4></a>
                            <p>...</p>
                            </div>*@
                        @*</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href=@Url.Action("Hufflepuff", "Home")><img src="~/assets/images/houses/hufflepuff.jpg" alt="Hufflepuff"></a>
                            </div>
                            @*<div class="down-content">
                            <a href="meeting-details.html"><h4>Hufflepuff</h4></a>
                            <p>...</p>
                            </div>*@
                        @*</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href=@Url.Action("Ravenclaw", "Home")><img src="~/assets/images/houses/ravenclaw.jpg" alt="Ravenclaw"></a>
                            </div>
                            @*<div class="down-content">
                            <a href="meeting-details.html"><h4>Ravenclaw</h4></a>
                            <p>...</p>
                            </div>*@
                        @*</div>
                    </div>
                    <div class="col-lg-6">
                        <div class="meeting-item">
                            <div class="thumb">
                                <a href=@Url.Action("Slytherin", "Home")><img src="~/assets/images/Houses/slytherin.jpg" alt="Slytherin"></a>
                            </div>
                            @*<div class="down-content">
                            <a href=""><h4>Slytherin</h4></a>
                            <p>...</p>
                            </div>*@
                        @*</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
*@