@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    @*<link rel="stylesheet" href="~/assets/css/fontawesome.css">*@
    <link rel="stylesheet" href="~/assets/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="~/assets/css/owl.css">
    <link rel="stylesheet" href="~/assets/css/lightbox.css">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href=@Url.Action("Index", "Home") class="logo">
                          <img src="~/assets/images/IndexImages/Logo4.png" alt="logo" />
                      </a>
                      <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")" class="active">Home</a></li>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                            {
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Admin</a>
                                    <ul class="sub-menu">
                                        <li><a href=@Url.Action("Index", "Courses")>Courses</a></li>
                                        <li><a href=@Url.Action("Index", "Enrollments")>Enrollments</a></li>
                                        <li><a href=@Url.Action("Index", "ScheduledClasses")>Scheduled Classes</a></li>
                                        <li><a href=@Url.Action("Index", "Students")>Students</a></li>
                                        <li><a asp-action="ListUsers" asp-controller="Administration">Users</a></li>
                                        <li><a asp-action="ListRoles" asp-controller="Administration">Roles</a></li>
                                    </ul>
                                </li>
                            }
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Scheduling") || User.IsInRole("Admin"))
                            {
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Scheduling Staff</a>
                                    <ul class="sub-menu">
                                        <li><a href=@Url.Action("Index", "Enrollments")>Enrollments</a></li>
                                        <li><a href=@Url.Action("Index", "ScheduledClasses")>Scheduled Classes</a></li>
                                        <li><a href=@Url.Action("Index", "Students")>Students</a></li>
                                    </ul>
                                </li>
                            }
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Student") || User.IsInRole("Admin"))
                            {
                                <li class="has-sub">
                                    <a href="javascript:void(0)">Student Portal</a>
                                    <ul class="sub-menu">
                                        <li><a href=@Url.Action("Index", "Enrollments")>Enrollments</a></li>
                                        <li><a href=@Url.Action("Index", "ScheduledClasses")>Scheduled Classes</a></li>
                                        <li class="scroll-to-section"><a href=@Url.Action("StudentSupplies", "Home")>Student Supplies</a></li>
                                    </ul>
                                </li>
                            }
                            <li class="scroll-to-section"><a href=@Url.Action("Index", "Courses")>Courses</a></li>
                            <li class="scroll-to-section"><a href=@Url.Action("Contact", "Home")>Contact Us</a></li>

                            <partial name="_LoginPartial" />
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>

  <!-- ***** Header Area End ***** -->
  <section class="heading-page header-text">
      <div>
            @RenderBody()
      </div>
  </section>

 

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
@*    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>*@

   @* <script src="~/assets/js/isotope.min.js"></script>*@
    <script src="~/assets/js/owl-carousel.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script src="~/assets/js/tabs.js"></script>
    <script src="~/assets/js/video.js"></script>
    <script src="~/assets/js/slick-slider.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>

      @await RenderSectionAsync("scripts", required: false)
@*
</body>*@
</html>